<div class="update-container row no-gutters align-items-center">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h3 class="white">Actualizar usuario</h3>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-8 col-10 medium-margin query-form-container">
                <div class="row">
                    <div class="col-12 text-center">
                        <form name="queryForm">
                            <input required name="email" class="base-input full-width" type="email" ng-model="email" placeholder="Email del usuario"/>
                            <button ng-disabled="queryForm.email.$invalid" ng-click="queryUser()" class="action-button full-width medium-margin">CONSULTAR</button>
                        </form>    
                        <h6 class="primary medium-margin" ng-show="searchError !== undefined">{{searchError}}</h6>        
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-5 col-md-6 col-sm-8 col-10 medium-margin update-form-container" ng-show="user !== undefined">
                <div class="row">
                    <div class="col-12 text-center">
                        <form name="updateForm">
                            <input required name="email" class="base-input full-width" type="email" ng-model="user.email" placeholder="Email"/>
                            <input required name="name" class="base-input full-width" type="text" ng-model="user.name" placeholder="Nombre completo"/>
                            <input required name="phone" class="base-input full-width" type="text" ng-model="user.phone" placeholder="Telefono"/>
                            <button ng-disabled="updateForm.email.$invalid || 
                                updateForm.name.$invalid || updateForm.phone.$invalid" ng-click="update()" 
                                class="action-button full-width medium-margin">ACTUALIZAR</button>
                        </form>    
                        <h6 class="primary medium-margin" ng-show="error !== undefined">{{error}}</h6>
                        <h6 class="primary medium-margin" ng-show="success !== undefined">{{success}}</h6>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>