<div class="home-container row no-gutters">
    <div class="col-12 background-container">
        <div class="row no-gutters full-height">
            <div class="order-lg-1 order-md-1 order-12 col-lg-6 col-md-6 col-12 left-panel">
                <div class="row full-height align-items-center justify-content-center">
                    <div class="col-lg-6 col-md-7 col-sm-6 col-10 options-content">
                        <div class="row">
                            <button ng-click="createUser()" class="action-button full-width">Crear Usuario</button>    
                        </div>
                        <div class="row small-margin">
                            <button ng-click="queryUser()" class="action-button full-width">Consultar Usuario</button>    
                        </div>
                        <div class="row small-margin">
                            <button ng-click="updateUser()" class="action-button full-width">Actualizar Usuario</button>    
                        </div>
                        <div class="row small-margin">
                            <button ng-click="deleteUser()" class="action-button full-width">Borrar Usuario</button>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-lg-12 order-md-12 order-1 col-lg-6 col-md-6 col-12 right-panel">
                <div class="row full-height align-items-center">
                    <div class="col-12 text-center">
                        <h3 class="white">Administracion de</h3>
                        <h4 class="white">Usuarios</h4>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</div>