button:focus {outline:0;}


html, body{
    height: 100%;
    width: 100%;
    min-height: 550px;
}
.full-height{
    height: 100%;
}
.full-width{
    width: 100%;
}
.white{
    color: #fff;
}
.dark{
    color: black;
}
.primary{
    color: #dd0074;
}
.small-margin{
    margin-top: 4px;
}
.medium-margin{
    margin-top: 16px;
}
.big-margin{
    margin-top: 32px;
}
.base-container{
    height: 100%;
    width: 100%;
}
.home-container{
    height: 100%;
    width: 100%;
    position: relative;
}
.background-container{
    position: absolute;
    height: 100%;
}
.options-container{
    position: absolute;
    height: 100%;
}
.right-panel{
    height: 100%;
    background-color: #dd0074;
}
.left-panel{
    height: 100%;
    background-color: rgb(243, 243, 243);
}
.options-content{
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
    box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
}
.delete-container{
    height: 100%;
    background-color: #dd0074;
}
.delete-form-container{
    background-color: #fff;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    -webkit-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
    box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
}
.create-container{
    height: 100%;
    background-color: #dd0074;
}
.create-form-container{
    background-color: #fff;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    -webkit-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
    box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
}
.query-container{
    height: 100%;
    background-color: #dd0074;
}
.query-form-container{
    background-color: #fff;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    -webkit-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
    box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
}
.update-container{
    height: 100%;
    background-color: #dd0074;
}
.update-form-container{
    background-color: #fff;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    -webkit-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
    box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.4);
}
.action-button{
    cursor: pointer;
    border: none;
    background-color: #f5b6da;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    color: #fff;
    position: relative;
    display: inline-block;
    transition: all 0.25s ease;
}
.action-button:disabled{
    background-color: #dbdbdb;
    color: #a5a5a5;
}
.action-button:enabled:hover {
    background-color: #dd0074;
}
.base-input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px #f5b6da solid;
    transition: all 0.25s ease;
    padding: 8px;
    color: rgb(26, 26, 26);
}
.base-input:hover{
    border-bottom: 4px #f5b6da solid;
}
.base-input:focus {
    outline: 0;
    border-bottom: 4px #dd0074 solid;
}
.row{
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 768px){
    .left-panel{
        height: 50%;
        min-height: 315px;
    }
    .right-panel{
        height: 50%;
        min-height: 315px;
    }
}