<div class="query-container row no-gutters align-items-center">
    <div class="col-12 text-center">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h3 class="white">Consultar Usuario</h3>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-8 col-10 medium-margin query-form-container">
                <div class="row">
                    <div class="col-12 text-center">
                        <form name="queryForm">
                            <input required name="email" class="base-input full-width" type="email" ng-model="email" placeholder="Email del usuario"/>
                            <button ng-disabled="queryForm.email.$invalid" ng-click="queryUser()" class="action-button full-width medium-margin">CONSULTAR</button>
                        </form>    
                        <h6 class="primary medium-margin" ng-show="error !== undefined">{{error}}</h6>        
                    </div>
                </div>
                <div class="row big-margin" ng-show="user !== undefined">
                    <div class="col-12">
                        <h6 class="dark"><b class="primary">Nombre:</b> {{user.name}}</h6>
                        <h6 class="dark"><b class="primary">Correo:</b> {{user.email}}</h6>          
                        <h6 class="dark"><b class="primary">Telefono:</b> {{user.email}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>