<div class="delete-container row no-gutters align-items-center">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h3 class="white">Borrar Usuario</h3>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-8 col-10 medium-margin delete-form-container">
                <div class="row">
                    <div class="col-12 text-center">
                        <form name="deleteForm">
                            <input required name="email" class="base-input full-width" type="email" ng-model="email" placeholder="Email del usuario"/>
                            <button ng-disabled="deleteForm.email.$invalid" ng-click="deleteUser()" class="action-button full-width medium-margin">BORRAR</button>
                        </form>    
                        <h6 class="primary medium-margin" ng-show="error !== undefined">{{error}}</h6>
                        <h6 class="primary medium-margin" ng-show="success !== undefined">{{success}}</h6>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>