<div class="create-container row no-gutters align-items-center">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h3 class="white">Crear nuevo usuario</h3>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-8 col-10 medium-margin create-form-container">
                <div class="row">
                    <div class="col-12 text-center">
                        <form name="createForm">
                            <input required name="email" class="base-input full-width" type="email" ng-model="user.email" placeholder="Email"/>
                            <input required name="name" class="base-input full-width" type="text" ng-model="user.name" placeholder="Nombre completo"/>
                            <input required name="phone" class="base-input full-width" type="text" ng-model="user.phone" placeholder="Telefono"/>
                            <input required name="password" class="base-input full-width" type="password" ng-model="user.password" placeholder="Contraseña"/>
                            <button ng-disabled="createForm.email.$invalid || 
                                createForm.name.$invalid || createForm.phone.$invalid ||createForm.password.$invalid" ng-click="create()" 
                                class="action-button full-width medium-margin">CREAR</button>
                        </form>    
                        <h6 class="primary medium-margin" ng-show="error !== undefined">{{error}}</h6>
                        <h6 class="primary medium-margin" ng-show="success !== undefined">{{success}}</h6>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>